[submodule "MOOC_Backend"]
	path = MOOC_Backend
	url = https://github.com/thisalihassan/back-end-mooc
[submodule "MOOC_Frontend/clientStart"]
	path = MOOC_Frontend/clientStart
	url = https://github.com/thisalihassan/mooc-front-end
[submodule "Screen_Broadcasting"]
	path = Screen_Broadcasting
	url = https://github.com/thisalihassan/MOOC_screen_broadcasting
[submodule "audio_multi_peer"]
	path = audio_multi_peer
	url = https://github.com/thisalihassan/MOOC_audio_call
[submodule "Video_Broadcasting"]
	path = Video_Broadcasting
	url = https://github.com/thisalihassan/MOOC_video_broadcasting
