[submodule "MOOC_Backend"]
	path = MOOC_Backend
	url = https://github.com/thisalihassan/back-end-mooc
[submodule "New folder (3)/clientStart"]
	path = New folder (3)/clientStart
	url = https://github.com/thisalihassan/mooc-front-end
[submodule "Screen_Broadcasting"]
	path = Screen_Broadcasting
	url = https://github.com/thisalihassan/MOOC_screen_broadcast
[submodule "audio_multi_peer"]
	path = audio_multi_peer
	url = https://github.com/thisalihassan/MOOC_audio_call
